/* — Product Detail — */

.product-detail {
  display: flex;
  flex-wrap: nowrap;    
  padding: 40px;
}

.images,
.details {
  flex: 1 1 50%;       
  max-width: 50%;
  box-sizing: border-box;  
  padding-top: 15px;
}

.images {
  display: flex;
  flex-direction: column;  
  gap: 20px;             
}
.images img {
  width: 100%;           
  height: auto;
  object-fit: cover;
}

.details {
  display: flex;
  flex-direction: column;
  padding-left: 40px;   
}

.details h1 {
  font-size: 64px;
  font-weight: 300;
  margin: 0;
}
.price {
  font-size: 40px;
  font-weight: 300;
  margin: 0;
}
.details p {
  margin: 0;
  line-height: 1.6;
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: 300;
}
.check-availability {
  font-size: 40px;
  font-weight: 300;
  text-decoration: none;
  border-bottom: 1px solid #000;
  align-self: start;
  padding-bottom: 2px;
  padding-top: 20px;
}
.check-availability:hover {
  opacity: 0.8;
}
.details strong {
  font-weight: 600;
}
.origin {
  margin-top: 40px;
  font-weight: 600;
}
.btn-add {
  margin-top: auto;
  padding: 16px;
  background: #000;
  color: #fff;
  font-size: 40px;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: center;
}
.btn-add:hover {
  opacity: 0.9;
}

@media (max-width: 768px) {
  .product-detail {
    flex-direction: column;
    padding: 20px;
  }
  .images,
  .details {
    max-width: 100%;
    flex: 1 1 100%;
  }
  .images {
    flex-direction: column;
    gap: 16px;
  }
}
