.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0; 
  text-align: center;
  width: 100%;
}

.confirmation-message-container {
  background-image: url(../../src/logo/orderpage.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 0px 0px; 
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  position: relative;
  aspect-ratio: 4 / 3.3;
  background-size: 100%}


.confirmation-title {
  color: rgb(255, 255, 255);
  font-size: clamp(120px,1.5vw,200px);
  font-family: Jost;
  font-weight: 800;
  line-height: 1.1;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); 
  z-index: 2; 
  position: relative;
}

.confirmation-button {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 25px 50px;
  font-size: clamp(32px,1.5vw,40px);
  font-family: Jost;
  font-weight: 300;
  line-height: 1;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.confirmation-image {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}