.ml-17-5 {
  margin-left: 17.5px;
}
.mt-18-5 {
  margin-top: 18.5px;
}
.mt-34-5 {
  margin-top: 34.5px;
}
.page {
  padding: 22.5px 0 57px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.group {
  padding: 0 19px 10px 34px;
}
.text {
  color: rgb(0, 0, 0);
  font-size: 48px;
  font-family: Jost;
  font-weight: 300;
  line-height: 35.5px;
}
.text-wrapper_2 {
  border-bottom: solid 1px rgb(0, 0, 0);
}
.font_3 {
  font-size: 20px;
  font-family: Jost;
  line-height: 14px;
  font-weight: 300;
  color: rgb(0, 0, 0);
}
.text-wrapper {
  height: 20px;
  border-bottom: solid 1px rgb(0, 0, 0);
}
.font {
  font-size: 20px;
  font-family: Jost;
  line-height: 20px;
  font-weight: 300;
  color: rgb(0, 0, 0);
}
.font_2 {
  font-size: 20px;
  font-family: Jost;
  line-height: 16px;
  font-weight: 300;
  color: rgb(0, 0, 0);
}
.text_2 {
  line-height: 16px;
}
.text-wrapper_3 {
  height: 19px;
  border-bottom: solid 1px rgb(0, 0, 0);
}
.font_4 {
  font-size: 20px;
  font-family: Jost;
  line-height: 19px;
  font-weight: 300;
  color: rgb(0, 0, 0);
}
.text-wrapper_4 {
  height: 18.5px;
  border-bottom: solid 1px rgb(0, 0, 0);
}
.text_3 {
  line-height: 18.5px;
}
.image {
  width: 35px;
  height: 35px;
}
.text-wrapper_5 {
  padding: 22px 0 2px;
  background-color: rgb(231, 231, 231);
}
.font_5 {
  font-size: 16px;
  font-family: Jost;
  line-height: 16px;
  font-weight: 300;
  color: rgb(0, 0, 0);
}
.text_4 {
  line-height: 16px;
}
.text_5 {
  margin-left: 31px;
  margin-top: 38px;
  line-height: 16px;
}
.group_2 {
  margin-top: 106px;
}
.font_6 {
  font-size: 24px;
  font-family: Jost;
  line-height: 29px;
  font-weight: 300;
  color: rgb(0, 0, 0);
}
.text_6 {
  line-height: 24px;
  font-weight: unset;
}
.image_2 {
  width: 24px;
  height: 24px;
}
.grid {
  margin: 84px 45px 0 52px;
  height: 385px;
  display: grid;
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-template-columns: repeat(2, minmax(0, 1fr));
  row-gap: 0;
  column-gap: 79px;
}
.grid-item {
  padding: 18px 0;
}
.image_3 {
  border-radius: 14.5px;
  width: 163px;
  height: 156px;
}
.grid-item_2 {
  padding: 70px 0;
}
.section {
  padding: 15px 6px 14px 16px;
  background-color: rgb(0, 0, 0);
  height: 52px;
}
.image_4 {
  width: 18px;
  height: 18.5px;
}
.font_8 {
  font-size: 32px;
  font-family: Jost;
  line-height: 22.5px;
  font-weight: 300;
  color: rgb(255, 255, 255);
}
.text_7 {
  margin-left: 41px;
}
.image_5 {
  margin-left: 48px;
}
.font_7 {
  font-size: 32px;
  font-family: Jost;
  line-height: 30px;
  font-weight: 300;
  color: rgb(0, 0, 0);
}
.grid-item_3 {
  padding: 19px 0;
}
.image_6 {
  border-radius: 14.5px;
  width: 163.5px;
  height: 155px;
}
.grid-item_4 {
  padding: 69.5px 0 71px;
}
.text_8 {
  margin-left: 37px;
  line-height: 23px;
}
.image_7 {
  margin-left: 43px;
}
.group_3 {
  margin-right: 45px;
  margin-top: 119px;
  width: 660.5px;
}
.group_4 {
  line-height: 21.5px;
  text-align: right;
}
.font_9 {
  font-size: 48px;
  font-family: Inter;
  line-height: 57.5px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}
.font_10 {
  font-size: 18px;
  font-family: Inter;
  line-height: 21.5px;
  color: rgb(0, 0, 0);
}
.group_5 {
  margin-top: 146px;
}
.text_9 {
  margin-left: 176px;
  line-height: 32px;
}
.group_6 {
  margin-top: 18px;
}
.image_8 {
  width: 274px;
  height: 127px;
}
.text_10 {
  margin-top: 28px;
}
.group_7 {
  margin-top: 12px;
  width: 378px;
}
.image-wrapper {
  padding: 11px 0;
  background-color: rgb(217, 217, 217);
}
.image_9 {
  margin-right: 23px;
}
.group_8 {
  line-height: 10px;
}
.text_11 {
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-family: Jost;
  font-weight: 300;
  line-height: 10px;
}
.text_12 {
  line-height: 20px;
}
.text_13 {
  margin-top: 47px;
}
.group_9 {
  margin-top: 12px;
}
.image-wrapper_2 {
  padding: 13.5px 0 9px;
  background-color: rgb(217, 217, 217);
  width: 378px;
}
.image_10 {
  margin-left: 340px;
  margin-right: 14px;
}
.image_11 {
  width: 378px;
  height: 240px;
}
.text-wrapper_6 {
  margin-top: 29px;
  padding: 20px 0 192px;
  background-color: rgb(217, 217, 217);
  border-radius: 26.5px;
  width: 572px;
}
.text_14 {
  margin-left: 26px;
  color: rgb(83, 83, 83);
  line-height: 20px;
}
.group_10 {
  margin-top: 109px;
  width: 402px;
}
.group_11 {
  line-height: 21.5px;
  text-align: right;
}
.text-wrapper_7 {
  margin-right: 3px;
  padding: 28px 0 32px;
  background-color: rgb(0, 0, 0);
  width: 340px;
}
.text_15 {
  line-height: 25.5px;
}
.group_12 {
  margin-top: 167px;
  padding-left: 19px;
}
.group_13 {
  margin-left: 44px;
}
.divider {
  background-color: rgb(0, 0, 0);
  width: 132.5px;
  height: 1px;
}
.group_14 {
  margin-left: 27px;
}
.divider_2 {
  background-color: rgb(0, 0, 0);
  width: 110.5px;
  height: 1px;
}
.text-wrapper_8 {
  margin-left: 30px;
  border-bottom: solid 1.5px rgb(0, 0, 0);
}
.text_16 {
  line-height: 14.5px;
}