.footer-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 50px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top:  20%;
    padding-bottom:  10%;
}


.footer-gradient {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.2));
}


.footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px rgb(0, 0, 0);
  }
  
  .footer-item-text {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-family: Jost;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
  }

@media (max-width: 390px) {
    .footer-container {
    gap: 20px;
    }
    
    .footer-item-text {
        font-size: 12px;
    }
}