.footer-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 50px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: clamp(150px, 15vw, 300px);
    padding-bottom: clamp(50px, 5vw, 100px);
}


.footer-gradient {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.2));
}

.footer-item {
    border-bottom: solid 1.5px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
.footer-item-text {
    color: rgb(0, 0, 0);
    font-size: clamp(16px, 2vw, 40px);
    font-family: Jost;
    font-weight: 300;
    line-height: clamp(16px, 2vw, 40px);
    text-align: center;
    flex-grow: 1;
}