.main_image {
  width: 100%; /* Make the image take up 50% of its container width */
  height: auto; /* Maintain the aspect ratio */
  display: block;
  margin-left: auto; 
  margin-right: auto; 
}

.main-content{
    display: flex; 
    flex-wrap: wrap; 
    width: 100%;
    margin-left: auto; 
    margin-right: auto; 
    padding-bottom: 50px;
}

.equal-division {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  width: 100%;
  margin-left: auto; 
  margin-right: auto; 
  padding-bottom: 50px;

}

.equal-division-item {
  flex: 0 0 calc(50%-40px); 
  max-width: calc(50% - 40px); 
  min-width: 45%;
  height: auto; 
  margin: 0; 
}

.equal-division {
  justify-content: space-between; /* Already set, but this ensures items are pushed to the edges */
}
