.main_image {
  width: 100%; /* Make the image take up 50% of its container width */
  height: auto; /* Maintain the aspect ratio */
  display: block;
  margin-left: auto; 
  margin-right: auto; 
}

.main-content{
    display: flex; 
    flex-wrap: wrap; 
    width: 100%;
    max-width: 1728px; 
    margin-left: auto; 
    margin-right: auto; 
}

.equal-division {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  width: 100%;
  max-width: 1728px; 
  margin-left: auto; 
  margin-right: auto; 
}

.equal-division-item {
  flex: 1 1 calc(50% ); /* Each item takes up 50% of the container width, minus some gap */
  max-width: calc(50% ); /* Limit the maximum width */
  height: auto; /* Maintain aspect ratio */
}
